@media screen and (max-width: 780px) {
.return {
    height: 25px;
    background-color: #FF6665;
    align-items: center;
    margin-top: 5px;
}
#return-button{
    border-style: none;
    background-color: #FF6665;
    color: aliceblue;
}    
#pedido{
    display: flex;
    flex-direction: column;
}
.itens{
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-top: 15px;
    }
#divisor-bottom{
    display: none;
}
.item-container{
    display: flex;
    width: 90%;
    align-items: center;
    margin: 5px;
    background-color: #dbdbda7c;   
    height: 70px;
    padding-left: 5px;
    border-radius: 7px;
}
#item-img{
    width: 40px;
}
#item-text {
    margin-left: 10px;
}
.resumo img {
    width: 280px;
    margin: 7px 0 7px 0;
}
.resumo{
    margin: 20px;
}
.resumo p {
    margin-top: 5px;
}
.resumo-buttons{
    display: flex;
    flex-direction: column;
    margin-top: 20px;
}
.resumo-buttons button{
    margin-top: 8px;
    height: 40px;
    border: #FF6665;
    border-radius: 5px;
    font-weight: bold;
    font-size: 13px;
}
#mais-produtos-b{
    background-color:#FF6665;
}
#continuar-b{
    background-color: #70CEC7;
}

}
@media screen and (min-width: 1001px){
.return {
    background-color: #FF6665;
}
#return-button{
    border-style: none;
    background-color: #FF6665;
    
}
#return-button i {
    color: aliceblue;
    background-color: #FF6665;
}

#pedido {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}
.itens{
    display: flex;
    flex-direction: column;
}
.item-container{
    display: flex;
    background-color: #dbdbda7c;   
    margin: 5px;
    width: 500px;
    height: 140px;
    columns: 2;
    align-items: center;
    padding-left: 40px;
    border-radius: 8px;
}
#item-img{
    width: 75px;
}
#item-text{
    margin-left: 18px;
}
.resumo{
    margin-left: 10px;
    display: flex;
    flex-direction: column;
}
.resumo img{
    width: 280px;
    margin: 10px 0 ;
}
.resumo p {
    margin: 5px;
}
.resumo-buttons{
    display: flex;
    margin-top: 20px;
    align-items: center;
    justify-content: space-around;
}
.resumo-buttons button{
    margin-top: 8px;
    height: 45px;
    border: #FF6665;
    border-radius: 5px;
    font-weight: bold;
    font-size: 13px;
}
#mais-produtos-b{
    background-color:#FF6665;
    width: 170px;

}
#continuar-b{
    background-color: #70CEC7;
    width: 90px;

}
}