.divider-container{
    background-color: #FF6665;
    display: flex;
    align-items: center;
    height: 30px;
    margin: 20px 0 20px 0;
}
.arrow-back{
    margin-left: 40px;
    stroke: #fff;
}
@media screen and (max-width: 768px) {

.body-container{
    margin: 10px;
}

.item-container{
    background-color: #D9D9D9;
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
    height: fit-content;
    padding: 10px;
}

.resume-title{
    font-weight: bold;
    text-align: end;
}
.quantity, .price, .delivery-tax{
    display: flex;
    justify-content: space-between;
    margin: 10px;
}
.divider {
    background-color: #93562A;
    height: 1px;
    margin: 15px;
}
.total {
    display: flex;
    justify-content: space-between;
    margin: 10px;
}
.payments-types{
    text-align: end;
    display: flex;
    flex-direction:column;
}
.total-amount{
    font-weight: bold;
}
.payment-fraction{
    font-size: small;
}
.button-container{
    display: flex;
    align-items: center;
    justify-content:space-evenly;
}
.add-more-bt{
    background-color: #FF6665;
    border-style: none;
    width: 130px;
    height: 40px;
    border-radius: 5px;
}
.continue-bt{
    background-color: #70CEC7;
    height: 40px;
    width: 130px;
    border-style: none;
    border-radius: 5px;
}
.frete-container{
    display: flex;
    margin: 10px;
}
.frete-container input{
    height: 25px;
}
.frete-bt{
    background-color: #FF6665;
    border-style: none;
    height: 25px;
    border-radius: 5px;
    width: 40px;
    margin-left: 15px;
}
.footer-logo-img{
    height: 100px;
}

}

@media screen and (min-width: 769px ) {
    .body-container{
        display: flex;
        justify-content: space-between;
    }
    .itens-container{
        display: flex;
        flex-direction: column;
    }
    .item-container{
        width: 500px;
        background-color: #D9D9D9;
        margin: 15px;
        height: fit-content;
        padding: 10px;
    }
    .order-resume-container{
        display: flex;
        flex-direction: column;
        margin: 20px;
        width: 40%;
    }
    .resume-title{
        text-align: end;
        font-weight: bold;
        margin-bottom: 10px;
    }
   
    .quantity, .price, .delivery-tax{
        display: flex;
        justify-content: space-between;
        margin: 10px;
    }
    .divider {
        background-color: #93562A;
        height: 1px;
        margin: 15px;
    }
    .button-container{
        display: flex;
        justify-content: space-evenly;
    }
    .add-more-bt{
        width: 180px;
        background-color: #FF6665;
        height: 40px;
        border: none;
        border-radius: 5px;
    }
    .continue-bt{
        background-color: #70CEC7;
        width: 180px;
        border: none;
        border-radius: 5px;
    }
    .total {
        display: flex;
        justify-content: space-between;
        margin: 10px;
    }
    .payments-types{
        text-align: end;
        display: flex;
        flex-direction:column;
    }
    .footer{
        align-items: baseline;
    }
    .frete-bt{
        background-color: #FF6665;
        border-style: none;
        height: 25px;
        border-radius: 5px;
        width: 40px;
        margin-left: 15px;
    }

}