@import url('https://fonts.googleapis.com/css2?family=Pacifico&family=Quicksand&display=swap');

/*font-family: 'Pacifico', cursive;
font-family: 'Quicksand', sans-serif; */

* {
    font-family: 'Quicksand', sans-serif;
    margin: 0;
    color:black
}

body{
    background-color: #F9F5F0;
}
.gallery-container {
    width: 100%;
    overflow: hidden;
    margin: 40px auto;
  }
  
  .gallery-track {
    display: flex;
    width: max-content;
    animation: scrollGallery linear infinite;
  }
  
  /* Imagens ajustáveis em telas diferentes */
  .gallery-img {
    flex-shrink: 0;
    width: 250px;
    height: 290px;
    margin-right: 20px;
    border-radius: 10px;
    overflow: hidden;
  }
  
  .gallery-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
    filter: saturate(90%) brightness(95%);
  }
  
  /* Animação da galeria */
  @keyframes scrollGallery {
    from {
      transform: translateX(0);
    }
    to {
      transform: translateX(-50%);
    }
  }

@media screen and (max-width: 500px) {
    p {
        font-size: 14px;
    }
    .header-container{
        display: flex;
        align-items: center; 
        justify-content: space-between;
        margin: 0 15px 0 15px;
    }
    #logo-img{
        width: 160px;
        height: 99px;
    }
    .header-menu{
        display: none;
    }
    
    .hero-description, .hero-title{
        display: none;
    }

    #hero {
        display: flex;
        flex-direction: column-reverse;
        align-items: center;
        margin-top: 30px;
    }
    .hero-profile-container{
        display: flex;
        margin: 15px;
        align-items: center;
        justify-content: space-between;
    }
    

    #cake-img {
        width: 320px;
    }
    #profile-pic{
        width: 70px;
        border-radius: 50px;
        margin-right: 15px;
    }

    #comment{
        width: 200px;
        margin-left: 15px;
    }

    #hero-order {
        width: 200px;
        height: 60px;
        background-color: #FF6665;
        border-radius: 5px;
        font-size: 26px;
        border-style:hidden;
        margin: 10px 0 0 20px;
        color: #F9F5F0;
    }

    .footer-logo-img{
        width: 280px;
    }

    .gallery-img {
        width: 250px;
        height: 290px;
        margin-right: 10px;
      }
    
      .gallery-track {
        animation-duration: 20s;
      }
    
        
    #title-delivery, #title-contato {
        display: flex;
        font-family: 'Pacifico', cursive;
        font-size: 30px;
        justify-content: center;
    }
    .delivery-item{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    } 
    .delivery-text{
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        padding: 0 35px 0 35px;
    }
    .contact-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        padding: 0 15px 0 15px;
    }
    .social-media img{
        width: 30px;
        margin: 20px;
    }

    #footer {
        display: flex;
        flex-direction: column;
        font-family: 'Pacifico', cursive;
        flex-direction: column; 
        align-items: center;
        text-align: center;
        padding: 15px;
    }

} 
@media screen and (min-width: 501px) and (max-width: 1000px) {
    p {
        font-size: 14px;
    }
    .header-container{
        display: flex;
        align-items: center; 
        justify-content: space-between;
        margin: 0 35px 0 25px;
    }
    #logo-img{
        width: 160px;
        height: 99px;
    }
    .header-menu{
        display: none;
    }
    
    .hero-description, .hero-title{
        display: none;
    }

    #hero {
        display: flex;
        flex-direction: column-reverse;
        align-items: center;
        margin-top: 30px;
    }
    .hero-profile-container{
        display: flex;
        margin: 15px;
        align-items: center;
        justify-content: space-between;
    }
    .gallery-img {
        width: 250px;
        margin-right: 15px;
      }
      
      .gallery-img img {
        height: 300px;
      }
    
      @keyframes scrollGallery {
        from { transform: translateX(0); }
        to { transform: translateX(-50%); }
      }

    #cake-img {
        width: 320px;
        margin: 16px;
    }
    #profile-pic{
        width: 70px;
        border-radius: 50px;
        margin-right: 15px;
    }

    #comment{
        width: 200px;
        margin-left: 15px;
    }

    #hero-order {
        width: 200px;
        height: 60px;
        background-color: #FF6665;
        border-radius: 5px;
        font-size: 26px;
        border-style:hidden;
        margin: 20px 0 0 20px;
        color: #F9F5F0;
    }

    .footer-logo-img{
        width: 280px;
    }

    #title-delivery, #title-contato {
        display: flex;
        font-family: 'Pacifico', cursive;
        font-size: 30px;
        justify-content: center;
    }
    .delivery-item{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    } 
    .delivery-text{
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        padding: 0 45px 0 45px;
    }
    .contact-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        padding: 0 15px 0 15px;
    }
    .social-media img{
        width: 30px;
        margin: 20px;
    }

    #footer {
        display: flex;
        flex-direction: column;
        font-family: 'Pacifico', cursive;
        flex-direction: column; 
        align-items: center;
        text-align: center;
        padding: 15px;
    }
}
@media screen and (min-width: 1001px) and (max-width: 1400px) {
    .header-container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0 10px 20px;
    }
    #logo-img{
        width: 240px;
        height: 140px;
    }
    #home, #delivery, #contato, #perfil, #admin{
        font-family: 'Pacifico', cursive;
        text-decoration: none;
        color: #93562A;
        margin-left: 20px;
        font-size: 20px;
    }
    #hero {
        columns: 2;
        margin-left: 30px;
    }
    #hero-text, #hero-text-sob{
        font-family: 'Pacifico', cursive;
        font-size: 35px;
    }
    #hero-text-sob{
        color: #FF6665;
        font-size: 20px;
    }
    #hero-description{
        color: #93562A;
        font-size: 26px;
    }
    #hero-order {
        width: 200px;
        height: 60px;
        background-color: #FF6665;
        border-radius: 5px;
        font-size: 26px;
        border-style:hidden;
        margin: 20px 0 10px 0px;
        color: #F9F5F0;
    }
    .hero-profile-container{
        margin-top: 30px;
        display: flex;
        align-items: center;
        width: 300px;
        height: 70px;
    }
    #divisor {
        margin: 0 10px 0 10px;
    }
    #profile-pic{
        width: 70px;
        border-radius: 35px;
    }
    #cake-img{
        width: 450px;
        height: 500px;
    }
    #title-delivery, #title-contato{
        text-align: center;
        font-family: 'Pacifico', cursive;
        font-size: 26px;
    }
    .delivery-container{
        display: flex;
        align-items: center;
        text-align: center;
        justify-content: space-around;
        margin: 20px;
    }
    .delivery-item{
        width: 200px;
    }
    .contact-container{
        display: flex;
        justify-content: space-around;
        align-items: center;
    }
    .contact-text{
        width: 40%;
        color: #93562A;
    }
    
    .social-media img{
        width: 50px;
        margin: 20px;
    }
    .gallery-img {
        width: 290px;
        margin-right: 15px;
      }
    
      .gallery-img img {
        height: 330px;
      }
    
      @keyframes scrollGallery {
        from { transform: translateX(0); }
        to { transform: translateX(-50%); }
      }
    #footer{
        display: flex;
        align-items: center;
        justify-content: space-around;
        margin: 20px;
    }
    .footer-logo-img{
        width: 350px;
    }
    .footer-text{
        width: 50%;
    }
    .return{
        background-color: #FF6665;
        border-style: none;
        background-color: #FF6665;
    }
    #return-button {
        background-color: #FF6665;
        border-color: #FF6665;
        border-style: hidden;
        height: 30px;

    }
    .return i {
        align-items: center;
        margin-left: 10px;
        color: #F9F5F0  ;
    }
    #pedido{
        columns: 2;
        margin: 30px;
    }
}
@media screen and (min-width: 1401px) and (max-width: 2559px) {
    .header-container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0 30px 10px 30px;
    }
    #logo-img{
        width: 240px;
        height: 150px;
    }
    #home, #delivery, #contato, #perfil, #admin {
        font-family: 'Pacifico', cursive;
        text-decoration: none;
        color: #93562A;
        margin-left: 120px;
        font-size: 20px;
    }
    #hero {
        columns: 2;
        margin-left: 30px;
    }
    #hero-text, #hero-text-sob{
        font-family: 'Pacifico', cursive;
        font-size: 35px;
    }
    #hero-text-sob{
        color: #FF6665;
        font-size: 20px;
    }
    #hero-description{
        color: #93562A;
        font-size: 26px;
    }
    #hero-order {
        width: 200px;
        height: 60px;
        background-color: #FF6665;
        border-radius: 5px;
        font-size: 26px;
        border-style:hidden;
        margin: 20px 0 10px 0px;
        color: #F9F5F0;
    }
    .hero-profile-container{
        margin-top: 30px;
        display: flex;
        align-items: center;
        width: 300px;
        height: 70px;
    }
    #divisor {
        margin: 0 10px 0 10px;
    }
    #profile-pic{
        width: 70px;
        border-radius: 35px;
    }
    #cake-img{
        width: 550px;
        height: 550px;
    }
    #title-delivery, #title-contato{
        text-align: center;
        font-family: 'Pacifico', cursive;
        font-size: 26px;
    }
    .delivery-container{
        display: flex;
        align-items: center;
        text-align: center;
        justify-content: space-around;
        margin: 40px;
    }
    .delivery-item{
        width: 300px;
    }
    .contact-container{
        display: flex;
        justify-content: space-around;
        align-items: center;
    }
    .contact-text{
        width: 40%;
        color: #93562A;
    }
    
    .social-media img{
        width: 50px;
        margin: 20px;
    }

    .gallery-img {
        width: 330px;
        margin-right: 20px;
      }
    
      .gallery-img img {
        height: 370px;
      }
    
      @keyframes scrollGallery {
        from { transform: translateX(0); }
        to { transform: translateX(-50%); }
      }
    #footer{
        display: flex;
        align-items: center;
        justify-content: space-around;
        margin: 20px;
    }
    .footer-logo-img{
        width: 350px;
    }
    .footer-text{
        width: 50%;
    }
}
@media screen and (min-width: 2560px) {
    .header-container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0 50px 30px 50px;
    }
    #logo-img{
        width: 600px;
        height: 300px;
    }
    #home, #delivery, #contato, #perfil, #admin {
        font-family: 'Pacifico', cursive;
        text-decoration: none;
        color: #93562A;
        margin-left: 130px;
        font-size: 40px;
    }
    #hero {
        columns: 2;
        margin-left: 70px;
    }
    #hero-text, #hero-text-sob{
        font-family: 'Pacifico', cursive;
        font-size: 60px;
    }
    #hero-text-sob{
        color: #FF6665;
        font-size: 60px;
    }
    #hero-description{
        color: #93562A;
        font-size: 50px;
    }
    #hero-order {
        width: 250px;
        height: 80px;
        background-color: #FF6665;
        border-radius: 10px;
        font-size: 30px;
        border-style:hidden;
        margin: 20px 0 10px 0px;
        color: #F9F5F0;
    }
    .hero-profile-container{
        margin-top: 30px;
        display: flex;
        align-items: center;
        width: 500px;
        height: 90px;
    }
    #divisor {
        margin: 0 20px 0 20px;
    }
    #profile-pic{
        width: 90px;
        border-radius: 45px;
    }
    #cake-img{
        width: 800px;
        height: 800px;
    }
    #title-delivery, #title-contato{
        text-align: center;
        font-family: 'Pacifico', cursive;
        font-size: 35px;
    }
    .delivery-container{
        display: flex;
        align-items: center;
        text-align: center;
        justify-content: space-around;
        margin: 40px;
    }
    .delivery-item{
        width: 500px;
        font-size: 25px;
    }
    .gallery-container {
        overflow: hidden;
        width: 100%;
        position: relative;
        margin: 20px 0;
        display: flex;
        justify-content: center;
      }
      
      .gallery-track {
        display: flex;
        gap: 20px;
        animation: slide 40s linear infinite;
      }
      
      .gallery-img {
        flex-shrink: 0;
      }
      
      .gallery-img img {
        width: 330px;
        height: 370px;
        border-radius: 10px;
        transition: transform 0.3s ease-in-out;
      }
      
      /* Animação infinita */
      @keyframes slide {
        0% {
          transform: translateX(0);
        }
        100% {
          transform: translateX(-100%);
        }
      }.contact-container{
        display: flex;
        justify-content: space-around;
        align-items: center;
    }
    .contact-text{
        width: 40%;
        color: #93562A;
        font-size: 26px;
    }
    .social-media img{
        width: 50px;
        margin: 20px;
    }
    #footer{
        display: flex;
        align-items: center;
        justify-content: space-around;
        margin: 20px;
        font-size: 26px;
    }
    .footer-logo-img{
        width: 350px;
    }
    .footer-text{
        width: 50%;
    }
    .shopping-bag img{
        width: 50px;
    }
}